
<div class="row-fluid">
	<div class="span9">

<form class="form-horizontal">
	<fieldset>
		<legend>Edit Book: {{catalogue.edit.title}}</legend>
				<div ng-include="'app/view/templates/editor/includes/title.html'"></div>

				<div class="control-group">
					<label class="control-label" for="textarea">Description</label>
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="catalogue.edit.description">
					</div>
				</div>	

				<div ng-include="'app/view/templates/editor/includes/content.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/additional-content.html'"></div>
				<div ng-include="'app/view/templates/editor/includes/code.html'"></div>
				
				<div ng-include="'app/view/templates/editor/includes/preview.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/image-upload.html'"></div>

				




	</fieldset>
</form>
</div>




	<div class="span3">
			<button type="submit" class="btn btn-primary btn-block" ng-click="catalogue.saveGuide()">Save changes</button>

			<button index-actions ng-click="copy()" target="catalogue.edit" class="btn btn-block">Copy {{catalogue.edit.type}}</button>
			<button index-actions ng-click="copy()" target="catalogue.edit" class="btn btn-block">Delete {{catalogue.edit.type}}</button>



		<div class="bs-docs-example">
			<h5>In {{catalogue.edit.title}}</h5>
<!-- 			<div editor-sidebar 
				items="catalogue.edit.children" 
				type="chapter"
				url-base="#/guide/{{routeParams.guideIndex}}/book/{{routeParams.bookIndex}}/chapter">
			</div>	 -->
		</div>


		
	</div>
</div>