
<div class="row-fluid">
	<div class="span8">
	<button index-actions ng-click="addNew()" location="catalogue.edit.chapters" type="paste" class="btn btn-small">Paste Chapter</button>

<form class="form-horizontal">
	<fieldset>
		<legend>Edit Book: {{catalogue.edit.title}}</legend>
				<div ng-include="'app/view/templates/editor/includes/title.html'"></div>

				<div class="control-group">
					<label class="control-label" for="textarea">Description</label>
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="catalogue.edit.description">
					</div>
				</div>	

				<div ng-include="'app/view/templates/editor/includes/content.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/additional-content.html'"></div>
				
				<div ng-include="'app/view/templates/editor/includes/preview.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/image-upload.html'"></div>

				




		<div class="form-actions">
			<button type="submit" class="btn btn-primary" ng-click="catalogue.saveGuide()">Save changes</button>
			<button class="btn">Cancel</button>
		</div>
	</fieldset>
</form>
</div>




<div class="span4 ">
		<div class="well">
			<h5>In {{catalogue.edit.title}}</h5>
			<div editor-sidebar 
				items="catalogue.edit.chapters" 
				type="chapter"
				url-base="#/guide/{{routeParams.guideIndex}}/book/{{routeParams.bookIndex}}/chapter">
			</div>	
		</div>

		<button index-actions ng-click="copy()" target="catalogue.edit" class="btn btn-small">Copy {{catalogue.edit.type}}</button>


		
	</div>
</div>