<div class="row-fluid">
	<div class="span9">
		<form class="form">
			<fieldset>
				<legend>Edit Chapter: {{edit.title}}</legend>
				<div ng-include="'app/view/templates/editor/includes/title.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/long-title.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/description.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/time.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/guide-type.html'"></div>
				
				<div ng-include="'app/view/templates/editor/includes/content.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/additional-content.html'"></div>
				
				<div ng-include="'app/view/templates/editor/includes/preview.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/image-upload.html'"></div>

				



				<div class="form-actions">

			<button type="submit" index-actions class="btn btn-primary btn-block" ng-click="save()">Save changes</button>
					<button class="btn">Cancel</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="span3">

		<div class="bs-docs-example">
			<h5>In {{edit.title}}</h5>
			 <div sortable-options ui-sortable="sortableOptions" ng-model="edit.children">
			 	<table ng-repeat="item in edit.children" class="codeTable table">
			 		<body>
			 			<tr>
			 				<td class="itemTitle"><a index-actions ng-click="editItem()" target="item">{{item.title}}</a></td>
			 				<td class="itemOptions" ng-switch on="copy">
			 					<div ng-switch-when="true">
			 						<a class="btn btn-small btn-warning" index-actions ng-click="addExisting()" location="local" target="item">&#8689;</a>
			 					</div>
			 					<div ng-switch-default>
			 						<a class="label" index-actions location="edit.children" target="$index" ng-click="removeItem()">&#10008;</a>
			 						<a class="label" index-actions ng-click="copy()" target="item">&#9113;</a>

			 					</div>
			 				</td>
			 			</tr>
			 		</body>
			 	</table>
			 </div>
	
			<hr>
			<button class="btn btn-small btn-block" index-actions type="{{edit.childtype}}" location="edit.children" ng-click="addNew()">Cretae new {{edit.childtype}}</button>
			<button class="btn btn-small btn-block" index-actions location="edit.children" ng-click="paste()">Paste</button>
			<button class="btn btn-small btn-block" index-actions ng-click="openDialog()" type="{{type}}">Dialogue</button>
		</div>		

		<!-- <button index-actions ng-click="copy()" target="catalogue.edit" class="btn btn-small">Copy {{edit.type}}</button> -->


		
	</div>
</div>


