<div class="row-fluid">
	<div class="span9">

		<form class="form">
			<fieldset>
				<legend>Edit Page: {{edit.title}}</legend>
				<div ng-include="'app/view/templates/editor/includes/title.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/description.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/content.html'"></div>
				
				<div ng-include="'app/view/templates/editor/includes/content-notes.html'"></div>
				
				<div ng-include="'app/view/templates/editor/includes/preview.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/code.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/image-upload.html'"></div>




			</fieldset>
		</form>

	</div>


	<div class="span3">
			<button type="submit" index-actions class="btn btn-primary btn-block" ng-click="save()">Save changes</button>

			<button index-actions ng-click="copy()" target="edit" class="btn btn-block">Copy {{edit.type}}</button>

						<button index-actions ng-click="backButton()" class="btn btn-block">Back</button>




		<div class="bs-docs-example">

			 <div sortable-options ui-sortable="sortableOptions" ng-model="edit.children">
			 	<table ng-repeat="item in edit.children" class="codeTable table">
			 		<body>
			 			<tr>
			 				<td class="itemTitle"><a index-actions ng-click="editItem()" target="item">{{item.title}}</a></td>
			 				<td class="itemOptions" ng-switch on="copy">
			 					<div ng-switch-when="true">
			 						<a class="btn btn-small btn-warning" index-actions ng-click="addExisting()" location="local" target="item">&#8689;</a>
			 					</div>
			 					<div ng-switch-default>
			 						<a class="label" index-actions location="edit.children" target="$index" ng-click="removeItem()">&#10008;</a>
			 						<a class="label" index-actions ng-click="copy()" target="item">&#9113;</a>

			 					</div>
			 				</td>
			 			</tr>
			 		</body>
			 	</table>
			 </div>
	
			<hr>
			<button class="btn btn-small btn-block" index-actions ng-click="versionPage()" target="edit">Version Page</button>
			<button class="btn btn-small btn-block" index-actions location="edit.children" ng-click="paste()">Paste</button>
			<button class="btn btn-small btn-block" index-actions ng-click="openDialog()" type="{{type}}">Dialogue</button>

			<div ng-show="edit.version">
				versioned from: {{edit.version}}
			</div>
		</div>
		
	</div>
</div>