<div class="row-fluid">
	<div class="span9">

		<form class="form-horizontal">
			<fieldset>
				<legend>Edit Page: {{catalogue.edit.title}}</legend>
				<div ng-include="'app/view/templates/editor/includes/title.html'"></div>

				<div class="control-group">
					<label class="control-label" for="textarea">Description</label>
					<div class="controls">
						<input type="text" class="input-xlarge" ng-model="catalogue.edit.description">
					</div>
				</div>	

				<div ng-include="'app/view/templates/editor/includes/content.html'"></div>
				
				<div ng-include="'app/view/templates/editor/includes/preview.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/code.html'"></div>

				<div ng-include="'app/view/templates/editor/includes/image-upload.html'"></div>




			</fieldset>
		</form>

	</div>


	<div class="span3">
			<button type="submit" class="btn btn-primary btn-block" ng-click="catalogue.saveGuide()">Save changes</button>

			<button index-actions ng-click="copy()" target="catalogue.edit" class="btn btn-block">Copy {{catalogue.edit.type}}</button>




		<div class="bs-docs-example">

			 <div sortable-options ui-sortable="sortableOptions" ng-model="edit.children">
			 	<table ng-repeat="item in edit.children" class="codeTable table">
			 		<body>
			 			<tr>
			 				<td class="itemTitle"><a index-actions ng-click="editItem()" target="item">{{item.title}}</a></td>
			 				<td class="itemOptions" ng-switch on="copy">
			 					<div ng-switch-when="true">
			 						<a class="btn btn-small btn-warning" index-actions ng-click="addExisting()" location="local" target="item">+</a>
			 					</div>
			 					<div ng-switch-default>
			 						<a class="btn btn-small btn-warning" index-actions location="edit.children" target="$index" ng-click="removeItem()">X</a>
			 						<a class="btn btn-small btn-warning" index-actions ng-click="copy()" target="item">copy</a>

			 					</div>
			 				</td>
			 			</tr>
			 		</body>
			 	</table>
			 </div>
	
			<hr>
			<button class="btn btn-small" index-actions type="{{edit.childtype}}" location="edit.children" ng-click="addNew()">New</button>
			<button class="btn btn-small" index-actions location="edit.children" ng-click="paste()">Paste</button>
			<button class="btn btn-small" index-actions ng-click="openDialog()" type="{{type}}">Dialogue</button>
		</div>
		
	</div>
</div>