	<table class="table">
				<tbody>
					<tr>
						<td edit-item item="catalogue.guide">{{catalogue.guide.title}}</td>
						<td class="dropdown">
							<span class="dropdown-toggle">
								&#9881;
							</span>
							<ul class="dropdown-menu">
								<li>
									<a index-actions type="guide" location="catalogue.guides" target="routeParams.guideIndex" ng-click="removeFromGroup()">Delete Guide</a>
								</li>
								<li>
									<a index-actions type="book" location="catalogue.guide.books" ng-click="addGroupTo()">New Book</a>
								</li>
								<li>
									<a index-actions type="paste" location="catalogue.guide.books" ng-click="addGroupTo()">Paste Book</a>
								</li>										
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
	
	<ul class="indexContainer"  ui-sortable="sortableOptions" ng-model="catalogue.guide.books">
		<li ng-repeat="book in catalogue.guide.books">


			<ul ui-sortable="sortableOptions" ng-model="book.chapters">
				<li ng-repeat="chapter in book.chapters">
					<table class="table">
						<tbody>
							<tr>
								<td class="dropdown">
									<span class="dropdown-toggle">
										&#9881;
									</span>
									<ul class="dropdown-menu">
										<li>
											<a index-actions ng-click="copy()" target="chapter">Copy Chapter</a>
										</li>
										<li>
											<a index-actions location="book.chapters" target="$index" ng-click="removeFromGroup()">Delete Chapter</a>
										</li>
										<li>
											<a index-actions type="page" location="chapter.pages" ng-click="addNewPage()">New Page</a>
										</li>
										<li>
											<a index-actions type="paste" location="chapter.pages" ng-click="addGroupTo()">Paste Page</a>
										</li>										
									</ul>
								</td>
							</tr>
						</tbody>
					</table>

					
					<ul ui-sortable="sortableOptions" ng-model="chapter.pages">
					<li ng-repeat="page in chapter.pages" page-content="page">

						<table class="table">
							<tbody>
								<tr>
									<td edit-item item="page">{{$parent.$parent.$index+1}}) {{page.title}}</td>
									<td class="dropdown">
										<span class="dropdown-toggle">
											&#9881;
										</span>
										<ul class="dropdown-menu">
											<li>
												<a index-actions ng-click="copy()" target="page">Copy</a>
											</li>
											<li>
												<a index-actions location="$parent.chapter.pages" target="$parent.$index" ng-click="removeFromGroup()">Delete</a>
											</li>											
										</ul>
									</td>
								</tr>
							</tbody>
						</table>

					</li>
					</ul>
				</li>
			</ul>

		</li><!-- book -->

	</ul>