	<table class="table">
				<tbody>
					<tr>
						<td><a href="#/guide/{{routeParams.guideIndex}}">{{catalogue.guide.title}}</a></td>

					</tr>
				</tbody>
			</table>
	
<!-- 	  <div ng-controller="TreeController">

<ol class="ui-nested-sortable" ui-nested-sortable="{
        listType: 'ol',
        items: 'li',
        doNotClear: true,
        placeholder: 'ui-state-highlight',
        forcePlaceholderSize: true,
        toleranceElement: '> div'
      }" 
      ui-nested-sortable-stop="update($event, $ui)">
        <li ez-tree="child in data.children at ol" ng-class="{minimized:child.minimized}">
          <div>
          	<span class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.minimized">
          		<span ng-switch-when="true">&#x25B6;</span>
          		<span ng-switch-default>&#x25BC;</span>
          	</span>
            {{child.title}}
          </div>
          <ol ng-class="{pregnant:child.children.length}"></ol>
        </li>
      </ol>
</div> -->

<div ng-controller="IndexCtrl">
	<collection collection='tasks.children'></collection>
</div>


<!-- 	<ul class="indexContainer"  ui-sortable="sortableOptions" ng-model="catalogue.guide.books">
		<li ng-repeat="book in catalogue.guide.children">
			<a ng-class="{selected: $index==routeParams.bookIndex}" href="#/guide/{{routeParams.guideIndex}}/book/{{$index}}" class="indexTitle"><span class="indexTitle">{{book.title}}</span></a>


			<ul class="indexChild" index-section ui-sortable="sortableOptions" ng-model="book.children">
				<li ng-repeat="chapter in book.children">
					<a href="#/guide/{{routeParams.guideIndex}}/book/{{$parent.$index}}/chapter/{{$index}}" class="indexTitle">
						<span>{{chapter.title}}</span></a>


					<ul index-child ng-show="showOptions" class="">
						<li>
							<a index-actions ng-click="copy()" target="chapter">Copy Chapter</a>
						</li>
						<li>
							<a index-actions location="book.chapters" target="$index" ng-click="removeItem()">Delete Chapter</a>
						</li>
						<li>
							<a index-actions type="page" location="chapter.pages" ng-click="addNewPage()">New Page</a>
						</li>
						<li>
							<a index-actions type="paste" location="chapter.pages" ng-click="addNew()">Paste Page</a>
						</li>										
					</ul>					

					
					<ul index-child ui-sortable="sortableOptions" ng-model="chapter.children">
						<li ng-repeat="page in chapter.children">
							<a href="#/guide/{{routeParams.guideIndex}}/book/{{$parent.$parent.$index}}/chapter/{{$parent.$index}}/page/{{$index}}" class="indexTitle">
							<span class="indexTitle">{{$index+1}}) {{page.title}}</span>
							</a>
					</li>
					</ul>
				</li>
			</ul>

		</li>

	</ul> -->