<div ng-controller="TreeController">

<ol class="ui-nested-sortable" ui-nested-sortable="{
        listType: 'ol',
        items: 'li',
        doNotClear: true,
        placeholder: 'ui-state-highlight',
        forcePlaceholderSize: true,
        toleranceElement: '> div'
      }" 
      ui-nested-sortable-stop="update($event, $ui)"
      >
        <li ez-tree="child in guide.children at ol" class="treeBranch" ng-class="{minimized:child.$minimized, active:child.$active, nochildren:!child.$children}">
          <div>
          	<span class="toggle" ng-click="toggleMinimized(child)" ng-switch on="child.$minimized">
          		<span ng-switch-when="true">&#x25B6;</span>
          		<span ng-switch-default>&#x25BC;</span>
          	</span>

            <span class="ez-title" ng-click="edit(child)">{{child.title}}</span>
          </div>
          <ol ng-class="{pregnant:child.children.length}"></ol>
        </li>
      </ol>
</div>	

