	<div class="control-group">
		<label class="control-label" for="textarea">Additional Content</label>
		<div class="controls">
			<div ui-sortable="sortableOptions" ng-model="edit.additionalContent">

				<table class="table codeTable" ng-repeat="content in edit.additionalContent" >
					<tbody>
						<tr>
							<td>
								<textarea ng-model="content.text" class="input-xlarge content-textarea" style="height:80px;"></textarea>
							</td>
							<td><a class="btn btn-small btn-warning" index-actions ng-click="removeItem()" location="edit.additionalContent" target="$index">X</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>

			<a class="btn" index-actions ng-click="addNew()" location="edit.additionalContent">+ Add Content</a>
		</div>
	</div>