<!-- <table ng-repeat="page in items" class="codeTable table">
	<body>
		<tr>
			<td class="itemTitle" index-actions ng-click="editItem()" target="page">{{page.title}}</td>
			<td class="itemOptions" ng-switch on="options">
				<div ng-switch-when="copy">
					<a class="btn btn-small btn-warning" ng-click="addItem(page)">+</a>
				</div>
				<div ng-switch-default>
					<a class="btn btn-small btn-warning" remove-thing remove-from="items" thing-index="$index">X</a>
				</div>
			</td>
		</tr>
	</body>
</table>
 -->


<!--  <div sortable-options ui-sortable="sortableOptions" ng-model="items">
 	<table ng-repeat="item in items" class="codeTable table">
 		<body>
 			<tr>
 				<td class="itemTitle"><a href="{{urlBase}}/{{$index}}">{{item.title}}</td>
 				<td class="itemOptions" ng-switch on="options">
 					<div ng-switch-when="copy">
 						<a class="btn btn-small btn-warning" ng-click="addItem(item.type)">+</a>
 					</div>
 					<div ng-switch-default>
 						<a class="btn btn-small btn-warning" remove-thing remove-from="items" thing-index="$index">X</a>
 						<a class="btn btn-small btn-warning" index-actions ng-click="copy()" target="item">copy</a>

 					</div>
 				</td>
 			</tr>
 		</body>
 	</table>
 </div> -->
 <div content-browser
 	items="items"
 	sortable="true"
 	type="{{type}}"
 	url-base="{{urlBase}}">
 </div>
	<hr>
			<button class="btn btn-small" index-actions type="{{type}}" location="items" ng-click="addNew()">New</button>
			<button class="btn btn-small" index-actions location="items" ng-click="paste()">Paste</button>
			<button class="btn btn-small" index-actions ng-click="openDialog()" type="{{type}}">Dialogue</button>
