<table ng-repeat="item in items" class="codeTable table">
	<body>
		<tr>
			<td class="itemIndex">[code {{$index}}]</td>
			<td class="itemContent">
				<pre>{{item}}</pre>
			</td>
			<td class="itemOptions" ng-switch on="options">
				<div ng-switch-when="copy">
					<a class="btn btn-small btn-warning" ng-click="addItem(item)">+</a>
				</div>
				<div ng-switch-default>
					<a class="btn btn-small btn-warning" remove-thing remove-from="items" thing-index="$index">X</a>
				</div>
			</td>
		</tr>
	</body>
</table>
